// Variables

//breakpoint
$md: 768px;
$xl: 1200px;

// colors

// moderate violet
$violet: hsl(263, 55%, 52%);
// very dark grayish blue
$gray: hsl(217, 19%, 35%);
// very dark blackish blue
$black: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
// light grayish blue
$gray-blue: hsl(210, 46%, 95%);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
	font-weight: 500;
	background-color: $gray-blue;
	color: $white;
}

.container {
	width: 86%;
	max-width: 1440px;
	margin: 75px auto;
}

.testimonial {
	position: relative;
	padding: 26px 30px 33px;
	margin-bottom: 26px;
	background-color: $violet;
	border-radius: 5px;

	&__author {
		display: flex;
		margin-bottom: 20px;
	}

	&__photo {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		border-radius: 50%;
		border: 2px solid lighten($violet, 20%);

		&--borderless {
			border: none;
		}
	}

	&__name,
	&__status {
		display: block;
	}

	&__title {
		margin-bottom: 20px;
		font-weight: 600;
	}

	&__status,
	&__paragraph {
		color: $light-gray;
	}

	&__paragraph {
		&--darker {
			color: $gray;
		}
	}

	&--violet {
		background-color: $violet;
	}

	&--gray {
		background-color: $gray;
	}

	&--white {
		background-color: $white;
		color: $black;
	}

	&--black {
		background-color: $black;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
