// Variables

//breakpoint
$md: 768px;
$lg: 992px;
$xl: 1200px;

// colors

// moderate violet
$violet: hsl(263, 55%, 52%);
// very dark grayish blue
$gray: hsl(217, 19%, 35%);
// very dark blackish blue
$black: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
// light grayish blue
$gray-blue: hsl(210, 46%, 95%);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
	font-weight: 500;
	background-color: $gray-blue;
	color: $white;
}

.container {
	width: 86%;
	max-width: 1110px;
	margin: 75px auto;

	@media (min-width: $lg) {
		margin: 165px auto;
	}
}

.testimonials {
	@media (min-width: $lg) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			'violet violet gray white-2'
			'white-1 black black white-2';
		gap: 30px;
	}
}

.testimonial {
	position: relative;
	padding: 26px 28px 33px;
	margin-bottom: 26px;
	background-color: $violet;
	border-radius: 8px;
	box-shadow: 25px 25px 50px 10px rgba($black, 0.1);

	@media (min-width: $lg) {
		padding: 26px 30px 33px;
		margin-bottom: 0;
	}

	&__author {
		display: flex;
		margin-bottom: 20px;
	}

	&__photo {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		border-radius: 50%;
		border: 2px solid lighten($violet, 20%);

		&--borderless {
			border: none;
		}
	}

	&__name,
	&__status {
		display: block;
		position: relative;
		z-index: 1;
	}

	&__quotation-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 25px;

		@media (min-width: $lg) {
			right: 90px;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 20px;
		font-weight: 600;
		z-index: 1;
	}

	&__status,
	&__paragraph {
		color: $light-gray;
	}

	&__paragraph {
		&--darker {
			color: $gray;
		}
	}

	&--violet {
		grid-area: violet;
		background-color: $violet;
	}

	&--gray {
		grid-area: gray;
		background-color: $gray;
	}

	&--white {
		grid-area: white-1;
		background-color: $white;
		color: $black;
	}

	&--black {
		grid-area: black;
		background-color: $black;
	}

	&--white-2 {
		grid-area: white-2;
	}
}
